.filters-vertical {
  .form-group {
    padding: $padding-base-vertical*2 0;
    border-bottom: 1px solid $gray-lighter;
    margin-bottom: 0;

    &.form-group-submit {
      border-bottom: none;
    }
  }
}
