

@mixin full-padding-margin($padding) {
  padding-top: $padding;

  // & > .full {
  //   margin-top: -($padding);
  // }
}

// Small up
// -------------------------
@include respond($sm-up) {

  .full-container {
    position: relative;
    height: 0;
    overflow: hidden;
    width: 100%;

    & > .full {
      height: 100% !important;
      display: table;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      overflow: auto;

      & > * {
        display: table-cell;
        vertical-align: middle;
      }
    }
  }
}

// Tablet landscape
// -------------------------
@media #{$sm-only} and (orientation: landscape) {
  .full-container {
    @include full-padding-margin(50%); 
  }
}

// Tablet portrait
// -------------------------
@media #{$sm-only} and (orientation: portrait) {
  .full-container {
    @include full-padding-margin(90%);
  }
}

// landscape
// -------------------------
@media #{$md-up} and (orientation: landscape) {
  .full-container {
    @include full-padding-margin(40%);
  }
}

// portrait
// -------------------------
@media #{$md-up} and (orientation: portrait) {
  .full-container {
    @include full-padding-margin(80%);
  }
}