ul.list-style-none {
  padding: 0;

  & > li {
    list-style: none;
  }
}

ul.title-list {
  li {
    padding: $padding-small-vertical 0;
    border-top: 1px solid $gray-lighter;

    h4,
    h5,
    p {
      margin: 0;
    }
  }
}

.teaser-list {
  .row {
    padding: $padding-small-vertical 0;
    border-bottom: 1px solid $gray-lighter;
  }
}
