@import url("http://fonts.googleapis.com/css?family=Lato:400,900,700,300");

h1 {
  @include h1;
}
h2 {
  @include h2;
}
h3 {
  @include h3;
}
h4 {
  @include h4;
}
h5 {
  @include h5;
}
h6 {
  @include h6;
}

// Decrease fonts for mobile
@include respond($xs-only) {

  $type-mod: .75;
  h1 {
    font-size: $font-size-h1 * $type-mod;
  }
  h2 {
    font-size: $font-size-h2 * $type-mod;
  }
  h3 {
    font-size: $font-size-h3 * $type-mod;
  }
  h4 {
    font-size: $font-size-h4 * $type-mod;
  }
}