.footer-actions {
  background: transparent;
  background-color: $gray-lighter;
  padding: $padding-base-vertical 0;
  margin-top: $line-height-computed*2;

  .nav > li > a {
    color: $gray;

    &:hover,
    &:active,
    &:focus {
      background: transparent;
      color: $link-color;
    }
  }

  .navbar-left,
  .navbar-right {
    &.dropdown,
    & > .social {
      padding: $padding-base-vertical $padding-base-horizontal $padding-base-vertical 0;
    }
  }
}


footer.page-footer {
  font-size: $font-size-small;
  padding: 20px 0;

  &,
  a,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $gray-light;
  }

  h5 {
    margin-bottom: $padding-base-vertical;
  }

  .footer-logo-wrapper {
    
    h4 {
      margin: 0;
      line-height: 1.1em;
      font-size: 30px; // @todo: variable

      small {
        font-weight: bold;
        color: lighten($gray-light, 20%);
      }
    }

    .footer-logo {
      margin-top: $line-height-computed;
      margin-bottom: $padding-base-vertical;
    }
    
  }

  


}