.filters-vertical {
  .form-group {
    padding: $padding-base-vertical * 2 0;
    border-bottom: 1px solid $gray-lighter;
    margin-bottom: 0;

    &.form-group-submit {
      border-bottom: none;
    }
  }
}


.proud-filter-wrapper{
  border:.1rem solid #e5e5e5;
  margin:10px 0 10px 0;
  border-radius:5px;

  .widget-title{
    padding:5px;
    border-bottom:.1rem solid #e5e5e5;
  }

  .proud-filter{
    padding:5px 10px;
  }

  .proud-filter-actions{
    margin:15px 0 0 0;
  }
}
.panel-grid-cell{
  container-type:inline-size;
}

/* default: no columns */
.proud-filter-group {
  column-count: 1;
}

/* enable 2 cols only when THIS cell is wide enough */
@container (min-width: 520px) {
  .proud-filter-group {
    column-count: 2;
    column-gap: 1.5rem;
  }
}

/* keep each label together */
.proud-filter-group label {
  display: block;
  break-inside: avoid;
  -webkit-column-break-inside: avoid;
}

label {
  font-weight: normal;
}

// Hidden labels throwing off accessibility
.gform_wrapper .hidden_label .gfield_label {
  background: #fff;
  color: $text-color;
}

.gform_wrapper .gfield_error input,
.gform_wrapper .gfield_error select,
.gform_wrapper .gfield_error textarea {
  color: #a94442;
}

.gform_wrapper .ginput_container_consent input[type='checkbox'],
.gform_wrapper ul.gfield_checkbox li input[type='checkbox'],
.gform_wrapper ul.gfield_radio li input[type='radio'] {
  width: auto;
}

.gform_wrapper .ginput_container_consent input[type='checkbox'] {
  display: inline-block;
  vertical-align: middle;
  margin-left: 1px;

  + label {
    display: inline-block;
    line-height: 1.5;
    font-size: 0.875em;
    vertical-align: middle;
    max-width: 85%;
    white-space: normal;
    letter-spacing: inherit;
    vertical-align: middle;
    cursor: pointer;
    padding: 0;
    width: auto;
  }
}

.form-group {
  position: relative;

  .form-control-search-icon {
    position: absolute;
    right: 10px;
    top: 12px;
    color: $gray-light;
  }

  .option-box-label {
    font-weight: bold;
    margin-bottom: 0;
  }

  legend.option-box-label {
    font-size: inherit;
    margin-bottom: 5px;
    border-bottom: 0;
  }

  .checkbox {
    margin: 5px 10px;
  }
}
