$levels: 1,2,3,4,5,6,7,8,9,10;

.menu-slider {
  overflow: hidden;
  width: 100%;

  > .inner {
    position: relative;
    float: left;
    @include transition(margin-left ease-in 0.2s);
    @inlude clearfix();

    > * {
      float: left;
    }
  }

  @each $level in $levels {
    &.level-count-#{$level} > .inner {
      width: #{$level}00%;

      > * {
        width: (100/$level)#{'%'};
      }
    }

    $levelLeft: $level - 1;

    &.level-#{$level}-active > .inner {
      margin-left: -#{100*$levelLeft}#{'%'};
    }
  }
}
