.menu-slider {
  overflow: hidden;
  width: 100%;
  margin-bottom: 20px;

  > .inner {
    position: relative;
    float: left;
    margin-bottom: 0;
    @include transition(margin-left ease-in 0.2s);
    @inlude clearfix();

    > * {
      float: left;
    }
  }

  @for $level from 1 through 100 {
    &.level-count-#{$level} > .inner {
      width: #{$level}00%;

      > * {
        width: (100/$level)#{'%'};
      }
    }

    $levelLeft: $level - 1;

    &.level-#{$level}-active > .inner {
      margin-left: -#{100*$levelLeft}#{'%'};
    }
  }
}
