.menu-slider {
  overflow: hidden;
  width: 100%;

  > .inner {
    position: relative;
    float: left;
    @include transition(margin-left ease-in 0.2s);
    @inlude clearfix();

    > * {
      float: left;
    }
  }

  &.level-count-1 > .inner {
    width: 100%;

    > * {
      width: 100%;
    }
  }

  &.level-count-2 > .inner {
    width: 200%;

    > * {
      width: (100/2)#{'%'};
    }
  }

  &.level-count-3 > .inner {
    width: 300%;

    > * {
      width: (100/3)#{'%'};
    }
  }

  &.level-count-4 > .inner {
    width: 400%;

    > * {
      width: (100/4)#{'%'};
    }
  }

  &.level-count-5 > .inner {
    width: 500%;

    > * {
      width: (100/5)#{'%'};
    }
  }
  
  &.level-1-active > .inner {
    margin-left: 0;
  }

  &.level-2-active > .inner {
    margin-left: -100%;
  }

  &.level-3-active > .inner {
    margin-left: -200%;
  }

  &.level-4-active > .inner {
    margin-left: -300%;
  }
  
  &.level-5-active > .inner {
    margin-left: -400%;
  }
}
