$nav-height-short: 54px;
$nav-height-mod: 2px;
$nav-height-tall: 740px;
$nav-user-overlay-z: 1050;


// Apply some global styles if applicable
.menu-option-footer {
  max-width: 100%;
  overflow-x: hidden;

  // Force for listing
  &.navbar-force-static {
    .navbar-external {
      &, #main-menu, .menu-box {
        position: static!important;
      }
    }
  }

  // Means we have another bar to hide
  &.topnav {
    .navbar-fixed-top {
      display: none;
    }
  }

  body {
    padding-top: 0;
    padding-bottom: $nav-height-short;
    position: relative;
    z-index: 0;
    left: 0;
  }
}



$button-d: 45px;
$button-width: 47px;
$button-height: $button-d;

.navbar-external {

  // Hide logo area mobile
  #logo-menu {
    display: none;
  
    .nav-logo i {
      font-size: 1.6em;
    }

    .nav-text a {
      padding-left: 0;
    }
  }

  // Action buttons
  .navbar-btn {
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 10px;
    color: $navbar-default-link-color;
    margin-top: ($nav-height-short - $button-height) / 2;
    margin-bottom: 0;
    // background-color: lighten($navbar-default-bg, 10%);
    @include transition(margin-top 0.2s ease-in-out, background-color 0.1s ease-in);
    
    &, i {
      height: $button-height;
      vertical-align: middle;
      line-height: $button-height * 0.95;
    }

    i {
      @include transition(transform 0.2s linear);
      vertical-align: middle;
    }  

    &:hover {
      background-color: lighten($navbar-default-bg, 25%);
      color: $navbar-default-link-hover-color;
    }

    &.menu-button {
      position: relative;

      .hamburger {
        @include hamburger-icon-animate($navbar-default-link-color, false);
      }
    }
  }

  // open 
  .menu-nav-open & {
    .navbar-btn.menu-button {
      position: relative;

      .hamburger {
        @include hamburger-icon-active();
      }
    }
  }

}

// Mobile only
// -------------------------
@include respond($xs-only) {

  .navbar-external {
    position: static;
    min-height: 0;

    #main-menu, 
    .menu-box {
      height: $nav-height-short + $nav-height-mod;
      position: fixed;
      bottom: -($nav-height-mod);
      width: 100%;
    }

    #main-menu {
      @include transition(height 0.2s ease, margin-bottom 0.2s ease);
      overflow: hidden;
      z-index: $nav-user-overlay-z - 1;
      background: $navbar-default-bg;
      margin-bottom: -$nav-height-short;
      margin-left: 0;
      margin-right: 0;
      padding-top: 5%;
    }

    .menu-nav-open & {
      #main-menu {
        height: 101%;
        margin-bottom: 0;
      }
    }

    .menu-box {
      background: $navbar-default-bg;
      text-align: center;
      padding-bottom: $nav-height-mod;
      z-index: $nav-user-overlay-z + 1;
    }

    .navbar-fixed-bottom {
      .navbar-nav {
        padding: $nav-height-short 20px;
      }
    }
  }
}


// Small up
// -------------------------
@include respond($sm-up) {
  .navbar-external {
    z-index: $nav-user-overlay-z + 1;

    .menu-box {
      float: right!important;
      min-width: 125px;

      .btn-toolbar.pull-right {
        margin-left: 0;
      }
    }

    .menu-button {
      display: none;
    }
  }
}

// Medium and down @TODO move this if
// we decide buttons always
// -------------------------
// @include respond($md-and-down) {
@media all {
  .navbar-external {
    .navbar-btn {
      padding-left: 0;
      padding-right: 0;
      font-size: 18px;
      
      &, i {
        overflow: hidden;
        width: $button-width;
      }
    }
  }
}

// Meduim up
// -------------------------
@include respond($md-up) {

  // Apply some global styles if applicable
  .menu-option-footer {

    body {
      padding-top: $nav-height-short;
      padding-bottom: 0;
    }
  }

  // Switch to top header
  .navbar-external {
    bottom: auto;
    top: 0px;

    // Logo area
    #logo-menu {
      display: block;
    }


    #main-menu {
      float: right;
      margin-right: 10px;
    }

    .navbar-btn {
      margin-top: 4px;

      i {
        margin-right: 0.25em;
      }

      &.search-btn {
        i {
          margin-right: 0;
        }
      }
    }
  }
}