$navbar-transparent-opacity: 0.8;

// Expanding/contracting topnav + tablet view
//body.proud-navbar-transparent {
//
//  // Deal with jumbotron items
//  .main {
//    & > div > .panel-grid:first-child,
//    .entry-content > div > .panel-grid:first-child {
//      // backpound
//      .jumbotron-inverse {
//        .jumbotron-bg {
//          //position: static;
//          opacity: $navbar-transparent-opacity;
//        }
//
//        //.jumbotron-bg-mask {
//        //  opacity: $navbar-transparent-opacity;
//        //}
//      }
//    }
//  }
//}

// Only init for blendmode capable, plus
// insane bug with chrome + mapbox prevents this mode with admin bar
//.backgroundblendmode body.proud-navbar-transparent:not(.admin-bar) {
//  .main {
//    & > div > .panel-grid:first-child,
//    .entry-content > div > .panel-grid:first-child {
//      .jumbotron-inverse {
//        .jumbotron-bg-mask {
//          opacity: 1;
//          @include background-blend();
//          z-index: $nav-user-overlay-z - 11;
//
//          & ~ * {
//            position: relative;
//            z-index: $nav-user-overlay-z - 10;
//          }
//        }
//      }
//    }
//  }
//}

// Top menu
// -------------------------
@include respond($mq-nav-fixed-top) {

  // Expanding/contracting topnav + tablet view
  body.proud-navbar-transparent {
    padding-top: 0;

    .menu-box {
      background: none!important;
    }

    .navbar-external {
      @include transition(padding 0.15s ease-out, background-color 0.35s ease-out, border-color 0.35s ease-out);

      > * {
        z-index: 2;
        position: relative;
      }
    }

    // When screen is scrolled to TOP
    &:not(.scrolled) {
      padding-top: 0 !important;
    }

    //#navbar-transparent-mask {
    //  @include transition(height 0.15s ease-out, opacity 0.35s ease-out);
    //  content: "";
    //  display: block;
    //  left: 0;
    //  height: $nav-height-short;
    //  width: 100%;
    //  position: fixed;
    //  top: 0;
    //  z-index: $nav-user-overlay-z - 8;
    //
    //  // Google translate active (only react for non admin menu)
    //  .translated-ltr &, .translated-rtl & {
    //    top: 40px;
    //  }
    //}

    // Alert banner
    .alert-banner {
      left: 0;
      width: 100%;
      position: absolute;
      top: $nav-height-short + $nav-big-padding*2;
      z-index: 1;
    }

    &:not(.scrolled) {
      //#navbar-transparent-mask {
      //  opacity: $navbar-transparent-opacity;
      //  height: $nav-height-short + $nav-big-padding*2 - $nav-height-mod;
      //}
    }

    // Admin menu active, compensate
    &.admin-menu, &.admin-bar {
      padding-top: $admin-bar-height!important;

      //#navbar-transparent-mask {
      //  top: $admin-bar-height;
      //}

      // Alert banner
      .alert-banner {
        margin-top: $admin-bar-height;
      }

      &:not(.scrolled) {
        padding-top: $admin-bar-height!important;
      }
    }

    // Deal with jumbotron items
    .main {
      & > div > .panel-grid:first-child,
      .entry-content > div > .panel-grid:first-child {
        // "full" height style jumbotrons
        .jumbotron-header-container {
          padding-top: $nav-height-short + $nav-big-padding*2 !important;
        }

        // background
        .jumbotron-inverse {
          .jumbotron-bg {
            //position: static;
          }

          //.jumbotron-bg-mask {
          //  opacity: $navbar-transparent-opacity;
          //}
        }
      }
    }
  }

  // Only init for blendmode capable, plus
  // insane bug with chrome + mapbox prevents this mode with admin bar
  .backgroundblendmode body.proud-navbar-transparent:not(.admin-bar) {

    // #wpadminbar {
    //   z-index: $nav-user-overlay-z - 12; 
    // }

    // &.search-active, &.active-311 {
    //   #wpadminbar {
    //     z-index: 9999;
    //   }
    // }

    //#navbar-transparent-mask {
    //   opacity: 1;
    //   @include background-blend();
    //}

    // Deal with jumbotron items
    .main {
      & > div > .panel-grid:first-child,
      .entry-content > div > .panel-grid:first-child {
        .jumbotron-inverse {
          //.jumbotron-bg-mask {
          //  opacity: 1;
          //  @include background-blend();
          //  z-index: $nav-user-overlay-z - 11;
          //
          //  & ~ * {
          //    position: relative;
          //    z-index: $nav-user-overlay-z - 10;
          //  }
          //}
        }
      }
    }
  }

  //
  // Overlay spacing
  //
  .proud-navbar-transparent.scrolled {
    $top-pad: 160px;

    .proud-overlay {
      padding-top: $top-pad;
    }

    .proud-overlay-close {
      top: $top-pad - 70;
    }

    &.search-active {
      #wrapper-search {
        top: $top-pad;
      }
    }
  }

  

  // if admin, move
  .proud-navbar-transparent.admin-bar {
    $top-pad: 210px;

    &.scrolled {

      .proud-overlay {
        padding-top: $top-pad;
      }

      .proud-overlay-close {
        top: $top-pad - 70;
      }


      &.search-active {
        #wrapper-search {
          top: $top-pad;
        }
      }
    }
  }
}