// 
// Front end overlay contains search + actions menu
//



// The search / answers overlay demo

$top-pad: 50px;

.proud-overlay {
  position: fixed;
  top: 200%;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(#FFF, 1);
  // opacity: 1;
  // z-index: 1050;
  box-shadow: 0px 2px 5px 5px rgba(0,0,0, 0.1);  
  // @include transition(left 0.3s ease-in 0s);
  opacity: 0;
  z-index: -1;
  @include transition(opacity 0.3s ease-in-out, z-index 0.2s linear);
  padding-top: $top-pad;

  .admin-bar & {
    padding-top: $top-pad + 50;
  }
}

.proud-overlay-close {
  padding: 15px;
  color: $black;
  position: absolute;
  right: 0;
  top: $top-pad - 50;

  .admin-bar & {
    top: $top-pad;
  }
}

body {
  &.active-311, &.search-active {
    overflow: hidden;
  } 
}

.search-active {
  .panel-banner, .wr-element-jumbotronheader, .widget-proud-jumbotron-header  {
    * {
      position: static!important;
    }
  }

  #wrapper-search {
    position: fixed!important;
    z-index: $nav-user-overlay-z + 1;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding-left: $jumbotron-padding;
    padding-right: $jumbotron-padding;
  }

  &.admin-bar {
    #wrapper-search {
      top: 70px + 50;
    }
  }

  #overlay-search {
    z-index: $nav-user-overlay-z;
    opacity: 1;
    left: 0;
    top: 0;
  }
}

.active-311 {
  #overlay-311 {
    z-index: $nav-user-overlay-z;
    opacity: 1;
    left: 0;
    top: 0;
  }
}

@include respond($xs-only) {


  .proud-overlay {
    & > .container {
      height: 100%;
      overflow-y: scroll;
      @include webkit-scrollbar($gray-dark, $white, 5px);
      margin-left: $grid-gutter-width/4;
      margin-right: $grid-gutter-width/4;

      > * {
        padding-left: $grid-gutter-width/4;
        padding-right: $grid-gutter-width/4;
      }
    }
  }

  #overlay-search {

    .proud-overlay-close {

      i {
        font-size: 2em;
      }
    }
  }


  // .proud-overlay-left {
  //   left: 110%;
  // }

  // .proud-overlay-right {
  //   left: -110%;
  // }


  // .search-active {
  //   #overlay-search {
  //     opacity: 1;
  //     left: 0;
  //     top: 0;
  //   }
  // }

  // .active-311 {
  //   #overlay-311 {
  //     opacity: 1;
  //     left: 0;
  //     top: 0;
  //   }
  // }
}

@include respond($sm-up) {

  $top-pad: 100px;

  .proud-overlay {
    padding-top: $top-pad;
    left: 0;
  }

  .close-311 {
    top: $top-pad - 50;
  }

  .close-search {
    top: 0;
  }

  // .admin-bar {
  //   .proud-overlay {
  //     padding-top: $top-pad + 50;
  //   }

  //   .close-311 {
  //     top: $top-pad - 50 + 50;
  //   }

  //   .close-search {
  //     top: 0 + 50;
  //   }
  // }

  .search-active {
    #wrapper-search {
      padding-left: $jumbotron-padding * 2 + 2;
      padding-right: $jumbotron-padding * 2 + 2;
      width: $container-sm;
    }
  }
}

@include respond($md-up) {

  $top-pad: 150px;

  .proud-overlay {
    padding-top: $top-pad;
  }

  .close-311 {
    top: $top-pad - 50;
  }

  .close-search {
    top: 90px;
  }

  .search-active {

    #wrapper-search {
      width: $container-md;
      top: 70px + 100;
    }

    // &.admin-bar {
    //   #wrapper-search {
    //     top: 70px + 100 + 50;
    //   }
    // }
  }

  // .admin-bar {
  //   .proud-overlay {
  //     padding-top: $top-pad + 50;
  //   }

  //   .close-311 {
  //     top: $top-pad - 50 + 50;
  //   }

  //   .close-search {
  //     top: 90px + 50;
  //   }
  // }
}

@include respond($lg-up) {
  // $top-pad: 150px;

  // .proud-overlay {
  //   padding-top: $top-pad;
  // }

  // .close-311 {
  //   top: $top-pad - 50;
  // }

  .search-active {
    #wrapper-search {
      width: $container-lg;
    }
  }
}


// Top menu
// -------------------------
@include respond($mq-nav-fixed-top) {

  // if admin, move
  body.admin-menu, body.admin-bar {
    $top-pad: 190px;

    .proud-overlay {
      padding-top: $top-pad;
    }
    .close-311 {
      top: 135px;
    }

    .close-search {
      top: 135px;
    }
  }
}