// Gets Drupal markup up to snuff with the ProudCity style guide

input.date-clear {
  &::before {
    @include datepicker;
  }
}

.views-exposed-form {
  @include card;
}

.views-widget .form-item-title .form-text {
  @include text-search;
}

.views-exposed-form label {
  font-weight: normal;
}


// Modify panels
.panels-ipe-moved ~ #panels-ipe-control-container {
  // display: none!important;
}

.panels-ipe-linkbar {
  li {
    position: relative;
  }
}

#modalContent {
  .panels-add-content-modal > * {
    padding-top: 10px;
  }

  .panels-section-column-categories {

    .btn {
      border-color: #ccc!important;
      margin-bottom: 0 0 2px 0;
    }
  }

  .panels-section-columns {

  }
}

$throb-dim: 25px;

.ajax-progress-throbber {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($white, 0.3);

  .throbber {
    position: absolute;
    background: none;
    width: $throb-dim;
    height: $throb-dim;
    top: 50%!important;
    left: 50%;
    margin: (-($throb-dim/2)) 0 0 (-($throb-dim/2));

    &:before{
      @extend %fa-icon;
      color: $brand-info;
      content: $fa-var-cog; 
      line-height: $throb-dim;
      font-size: $throb-dim*0.75;
      -webkit-animation: fa-spin 2s infinite linear;
      animation: fa-spin 2s infinite linear;
    }

  }
}

.panels-add-content-modal .panels-modal-add-category.active {
  background-image: none;
  padding-right: 20px;

  &:after {
    @extend %fa-icon;
    content: $fa-var-chevron-right; 
    float: right;
    padding-top: 0.25em;
    margin-right: -15px;
  } 
}

.panels-section-columns .progress-disabled.card-.btn {
  float: none
}

// Styles cards
#edit-style {
  @include clearfix();

  .form-item-style {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.form-item-style {
  label {
    padding-left: $grid-gutter-width/4;
    padding-right: $grid-gutter-width/4;
  }

  input[type="radio"] {
    position: absolute;
    visibility: hidden;

    &:checked ~ .card {
     @include card-color($gray-lighter);
    }
  }
}

// Ckeditor
.cke_editable {

  // custom ckeditor styles
  body {
    margin: 20px;
    background: white;
  }

  // rows should just be 100%
  .row {
    max-width: 100% !important;
  }

}