$proudbar-height: 40px;
$proudbar-padding: 7px;
$proudbar-line-height: $proudbar-height - $proudbar-padding*2;

.proudbar {
  background: $brand-primary;
  bottom: 0;
  left: 0;
  width: 100%;
  height: $proudbar-height;
  line-height: $proudbar-line-height;
  padding: $proudbar-padding;
  position: fixed;
  z-index: 10000;

  a, div {
    float: left;
    color: $white;
    margin: 0 $proudbar-padding;
  }

  a:hover {
    text-decoration: none;
  }

  .proudbar-title {
    font-weight: 100;
    text-transform: uppercase;
  }

  .proudbar-btn {
    background: $white;
    border-radius: 5px;
    color: $brand-primary;
    padding: 0 $proudbar-padding;
    font-size: .9em;

    &:hover {
      background-color: $gray-light;
    }
  }

  .proudbar-btn-circle {
    width: $proudbar-line-height;
    height: $proudbar-line-height;
    border-radius: $proudbar-line-height/2;
    margin-top: 1px;
    line-height: $proudbar-line-height;
    text-align: center;
    padding: 0;
  }

  .proudbar-logo {
    float: right;
    background: url(//my.proudcity.com/images/FullLogoWhite.png) 0 0 no-repeat;
    background-size: 114px/22px*$proudbar-line-height $proudbar-line-height;
    width: 114px/22px*$proudbar-line-height;
    height: $proudbar-line-height;
    text-indent: -1000em;
  }

}


// Responsive
@media screen and (max-width: 782px) {
  .proudbar {
    .proudbar-logo {
      background: url(//my.proudcity.com/images/IconWhite.png) 0 0 no-repeat;
      background-size: $proudbar-line-height $proudbar-line-height;
      width: $proudbar-line-height;
    }
  }
}
