// Gets Drupal markup up to snuff with the ProudCity style guide

input.date-clear {
  &::before {
    @include datepicker;
  }
}

.views-exposed-form {
  @include card;
}

.views-widget .form-item-title .form-text {
  @include text-search;
}

.views-exposed-form label {
  font-weight: normal;
}


// Modify panels
.panels-ipe-moved ~ #panels-ipe-control-container {
  // display: none!important;
}

// Styles cards
.form-item-style {
  label {
    padding-left: $grid-gutter-width/4;
    padding-right: $grid-gutter-width/4;
  }

  input[type="radio"] {
    position: absolute;
    visibility: hidden;

    &:checked ~ .card {
     @include card-color($gray-lighter);
    }
  }
}

// Ckeditor
.cke_editable {

  // custom ckeditor styles
  body {
    margin: 20px;
    background: white;
  }

  // rows should just be 100%
  .row {
    max-width: 100% !important;
  }

}