
// 
// Search form
// ----------------------

// Search form
.search-form {
  @extend .form-inline;
}
.search-form label {
  font-weight: normal;
  @extend .form-group;
}
.search-form .search-field {
  @extend .form-control;
}
.search-form button[type="submit"] {
  line-height: 1.45em;
}

ul.search-autosuggest {
  padding: 10px 0 0 0;
  display: none;
  color: $gray-base;

  li {
    list-style: none;
  }

  

  a.result-link {
    display: block;
    padding: 10px 0;
    text-decoration: none;
    min-height: 2em;
    line-height: 1.5em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: $gray-base;

    &:hover {
      color: $brand-primary;
    }

    i {
      font-size: 1.5em;
      display: block;
      float: left;
    }
  }

  .search-autosuggest-content {
    margin-left: 3em;
  }

  body.search-active &, body.search-active-lite & {
    display: block;
  } 
  
}

// Search page form styles

body.search-active-lite {
  #wrapper-search {
    position: relative;
  }

  ul.search-autosuggest {
    background: $white;
    padding-bottom: 20px;
    padding-right: 20px;
    position: absolute;
    width: 100%;
    z-index: 1;
  }
}


// Small up
// -------------------------
@include respond($sm-up) {
  ul.search-autosuggest {
    i {
      text-align: center;
      width: 2em;
    }
  }
}


// 
// Results
// ----------------------

.search-teaser {
  // Seeing some bad results overflowing. @TODO fix text processing
  overflow: hidden;

  &:first-child {
    padding-top: 10px;
  }

  .search-title {
    position: relative;
    padding-left: 40px;
    padding-bottom: 10px;

    i {
      position: absolute;
      left: 0;
      top: -5px;
    }
  }
}


// 
// Granicus, etc Results
// ----------------------

.search-additional-box {
  padding: 10px;
  background-color: $gray-lightest;
}