.translate, .widget_proud_google_translate {

  ul.dropdown-menu li {
    padding: $nav-link-padding;
    min-width: 240px;
  }
  
  select {
    @include form-control();
  }

  &.translate-stacked {
    margin: $padding-base-vertical 0;
  }
  
}
