.media {
  position: relative;
  margin-bottom: 1em;

  &:before {
    content: '';
    width: 20px;
    height: 20px;
    background: black;

    // ~ * {
    //   font: googffeeee;
    // }
  }
  
  .wp-post-image {
    max-height: 400px;
    width: auto;
  }

  .media-byline {
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;

    span {
      padding: 3px 10px;
      background-color: rgba(0, 0, 0, 0.2);
      color: $white; 
      
      a {
        color: $white;
        text-decoration: underline;
      }
    }
  }

  &:hover .media-byline {
    display: block;
  }
}

// Captions
.wp-caption {
  @extend .thumbnail;
}
.wp-caption-text {
  padding: $thumbnail-caption-padding;
}

// Text meant only for screen readers
.screen-reader-text {
  @extend .sr-only;
  @extend .sr-only-focusable;
}

