// So widget layout

$widget-margin: 15px;

.panel-grid-cell .so-panel {
  margin-bottom: $widget-margin!important;

  &:last-child {
    margin-bottom: 0!important;
  }
}

.panel-grid-cell .so-panel.margin-bottom-none {
  margin-bottom: 0!important;
}

.panel-grid-cell .so-panel.margin-bottom-large {
  margin-bottom: ($widget-margin*2)!important;
}

.panel-grid-cell .so-panel.margin-bottom-huge {
  margin-bottom: ($widget-margin*3)!important;
}

.panel-grid-cell .so-panel.margin-top {
  margin-top: $widget-margin;
}

.panel-grid-cell .so-panel.margin-top-none {
  margin-top: 0;
}

.panel-grid-cell .so-panel.margin-top-large {
  margin-top: ($widget-margin*2);
}

.panel-grid-cell .so-panel.margin-top-huge {
  margin-top: ($widget-margin*3);
}


// Panels
.panel-row-multiple {
  .container {
    padding-left: 0;
    padding-right: 0;
  }

  .panel-grid-cell {
    padding-left: $grid-gutter-width/2!important;
    padding-right: $grid-gutter-width/2!important;
  }
}

[data-stretch-type=full] {
  padding-left: 0!important;
  padding-right: 0!important;
}

[data-stretch-type=full] .panel-grid-cell {
  padding-left: 0!important;
  padding-right: 0!important;
}


@media screen and (min-width: 781px) {
  [data-stretch-type="full"] {
    margin-left: 15px!important; 
    margin-right: 15px!important;
  }
}

// Emulated gallery widget

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
  margin-left: -5px;
  margin-right: -5px;
}
.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;
  padding: 0 5px;
  margin-bottom: 10px;

}
.gallery-columns-2 .gallery-item {
  max-width: 50%;
}
.gallery-columns-3 .gallery-item {
  max-width: 33.33%;
}
.gallery-columns-4 .gallery-item {
  max-width: 25%;
}
.gallery-columns-5 .gallery-item {
  max-width: 20%;
}
.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}
.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}
.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}
.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}
.gallery-caption {
  display: block;
}