// So widget layout

$widget-margin: 15px;

.panel-grid-cell .so-panel {
  margin-bottom: $widget-margin!important;

  &:last-child {
    margin-bottom: 0!important;
  }
}

.panel-grid-cell .so-panel.margin-bottom-none {
  margin-bottom: 0!important;
}

.panel-grid-cell .so-panel.margin-bottom-large {
  margin-bottom: ($widget-margin*2)!important;
}

.panel-grid-cell .so-panel.margin-bottom-huge {
  margin-bottom: ($widget-margin*3)!important;
}

.panel-grid-cell .so-panel.margin-top {
  margin-top: $widget-margin;
}

.panel-grid-cell .so-panel.margin-top-none {
  margin-top: 0;
}

.panel-grid-cell .so-panel.margin-top-large {
  margin-top: ($widget-margin*2);
}

.panel-grid-cell .so-panel.margin-top-huge {
  margin-top: ($widget-margin*3);
}


// Panels
.panel-row-multiple {
  .container {
    padding-left: 0;
    padding-right: 0;
  }

  .panel-grid-cell {
    padding-left: $grid-gutter-width/2!important;
    padding-right: $grid-gutter-width/2!important;
  }
}

[data-stretch-type=full] {
  padding-left: 0!important;
  padding-right: 0!important;
}

[data-stretch-type=full] .panel-grid-cell {
  padding-left: 0!important;
  padding-right: 0!important;
}


@media screen and (min-width: 781px) {
  [data-stretch-type="full"] {
    margin-left: 15px!important; 
    margin-right: 15px!important;
  }
}